__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
download/
.eggs/
.eggs-info/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
.ipynb_checkpoints
.python-version
Pipfile.lock
__pypackages__/
typings/
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db
*.log
data/
*.pth
*.pt
*.ckpt
shape_predictor_68_face_landmarks.dat
*.dat

# Demo output,artifacts
demo/simple_output/

*.pyc
